@import "~bootstrap/scss/bootstrap";

body {
  overflow: hidden;
  .counter {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    > div:first-child {
      font-size: 100px;
    }

    a {
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
    }

    .controls {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      margin: 10px;

      > div {
        min-width: 40px;
        height: 40px;
        text-align: center;
        border: 1px solid salmon;
        border-radius: 12px;
        background: #fff;
        color: #3f51b5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 5px;
        padding: 5px;
        cursor: pointer;
      }

      > div:hover {
        background-color: salmon;
        color: #eee;
      }

      @media screen and (max-width: 780px) {
        > div {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  body {
    background-color: #e66666;
  }
}
